---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Skills from '../components/Skills.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';

// Content Fetching: List four most recent work projects
const textLinks: { label: string; href: string, img: string, alt: string }[] = [
	{ label: 'BCI Gaming', href: '/work/bci-gaming', img: '/assets/stock-3.jpg', alt:'Picture of Neorosity headsets used in gathering BCI data' },
	{ label: 'StudyBuddy Web App', href: '/work/studybuddy', img: '/assets/stock-2.jpg', alt:'Studybuddy Web App Interface' },
	{ label: 'Crystal Adventure RPG', href: '/work/crystal-adventure', img: '/assets/stock-1.jpg', alt:'Crystal Adventure ingame screenshot of rescue centre' },
	{ label: 'WordDrift', href: '/work/worddrift', img: '/assets/p5.jpg', alt:'WordDrift Game Menu' },
];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hi, I'm Grace Xu."
					tagline="I learn, code, and create to turn ideas into real life projects."
					align="start"
				>
					<div class="typewriter">
						<a class="fontstyle">Software engineer. Web & Game developer. Digital designer.</a>
					</div>
				</Hero>

				<img
					alt="My universe"
					width="100%"
					height="auto"
					src="/assets/portrait.png"
				/>
			</header>

		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>My Projects</h3>
					<p>Have a look at some of my featured works!</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							textLinks.map(({ label, href, img, alt }) => (
								<li>
									<a class="card" href={href}>
										<span class="title">{label}</span>
										<img class="grid-img" src={img} alt={alt} />
									</a>
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<div class="about-section">
				  <div class="about-content">
					<h3>About</h3>
					<p>Welcome! I’m Grace, a Computer Science student at the University of Waterloo. My tech journey began with a passion for developing games, 
						and now I’m interested in expanding my horizons.</p>
					<p>My current motivations are to remain curious and open-minded, shape my career through perseverance, and grow as a person.</p>
					<p>If you would like to discuss new opportunities or have a light-hearted chat, feel free to contact me anytime.</p>
				  </div>
				  <div class="about-image">
					<img
					  alt="Grace in a casual suit"
					  width="70%"
					  height="auto"
					  src="/assets/gracexu.jpg"
					/>
				  </div>
				</div>
			  </section>
			<Skills />
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
p {
	margin-top: 10px;
	font-size: 1.2rem;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 80vw; /* Make the section span the full viewport width */

    @media (min-width: 50em) {
      flex-direction: row;
    }
  }

  .about-content {
    text-align: justify;
    max-width: 80%;
    color: var(--gray-300);
    @media (min-width: 50em) {
      max-width: 100%; /* Expand max-width on larger screens */
    }
  }

  .about-image {
    width: 80%; /* Adjust the width as needed */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 50em) {
      order: -1;
      width: 60%; /* Adjust the width for larger screens */
    }
  }

  .about-image img {
    aspect-ratio: 3 / 4;
	object-fit: cover;
    border-radius: 4.5rem;
  }
	.fontstyle {
		color:var(--accent-regular);
		font-weight: bold;
	}
	.typewriter {
		overflow: hidden;
		white-space: nowrap;
		border-right: 0.15em solid var(--accent-regular);
		font-size: 91%;
		animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
		animation-fill-mode: forwards; /* Keeps the last frame of typing animation */
	}

	@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
	}

	@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: var(--accent-regular);
	}
	}
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		animation: floating 3s ease-in-out infinite;
	}

	@keyframes floating {
		0%, 100% {
		transform: translateY(0);
		}
		50% {
		transform: translateY(20px);
		}
	}
	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
		
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat, var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}
	.card {
		display: grid;
		grid-template: auto 1fr / auto 1fr;
		height: 11rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		overflow: hidden;
		box-shadow: var(--shadow-sm);
		text-decoration: none;
		font-family: var(--font-brand);
		font-size: var(--text-lg);
		font-weight: 500;
		transition: box-shadow var(--theme-transition);
	}

	.card:hover {
		box-shadow: var(--shadow-md);
		transform: translateY(-1%);
	}

	.title {
		grid-area: 1 / 1 / 2 / 2;
		z-index: 1;
		margin: 0.5rem;
		padding: 0.5rem 1rem;
		background: var(--accent-regular);
		color: var(--gray-700);
		border-radius: 0.375rem;
	}

	.grid-img {
		grid-area: 1 / 1 / 3 / 3;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (min-width: 50em) {
		.card {
			height: 22rem;
			border-radius: 1.5rem;
		}

		.title {
			border-radius: 0.9375rem;
		}
	}
</style>
